.div{
    background-color:beige;
    color: black;
    max-width: 222px;
    padding-top: 5px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    border:  1px solid black;
    text-align: center;
    display: inline-block

}
.div img{
    width: 220px;
    height: 150px;
    margin-right: 100px;
}